  .asma{
    display: flex;
    justify-content: space-around;
  }

  .titre1{
    color: rgb(42, 108, 239);
    display: flex;
    justify-content: space-around;
  }

  .titre2{
    color: rgb(111, 241, 219);
    display: flex;
    justify-content: space-around;
  }
  
  .Buttonn{
    display: flex;
    justify-content: center;
  }
 

  .But{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .Container{
    width: 25%;
    display: flex;
    justify-content: space-around;
  }

  .rami{
    display: flex;
    justify-content: space-around;
  }

